extends template
block content

  +header("resort","no")

  main
    .container
      +breadcrumb('Личные данные')
      h1.page__title Личный кабинет    

      aside.personal-side
        .overlay.personal-side__overlay
        .personal-side__btn Личные данные
        ul.personal-side__menu
          -var sideList = ['Мои заказы','Личные Данные','Завершённые заказы','Подписка на рассылку']
          each side,index in sideList
            if index===1
              li.personal-side__item
                span.personal-side__link=side
            else
              li.personal-side__item
                a(href="").personal-side__link=side              

      .personal-content

        section.personal-orders
          .b-tabs
            .b-tabs__mobile Иванов Роман Иванович
            .b-tabs__pagin
              -var tabsList = ['Иванов Роман Иванович','Иванов Роман Иванович','Ивановов Филипп Романович']
              each tab in tabsList
                .b-tabs__btn=tab
            .b-tabs__content
              - for (var j = 0; j < 3; j++)
                .b-tabs__item
                  form.b-filter(action="")
                    .b-filter__wrap      
                      .b-filter__top
                        .b-filter__name.hide-mobile  Личные данные
                        .b-filter__add
                          i.b-filter__add-icon
                          .b-filter__add-text Добавить человека
                              
                      .b-filter__inner
                        .b-filter__section
                          .b-filter__row
                            .b-filter__block
                              label.label(for="lastName0") Фамилия*
                              input#lastName0.input.req(type='text', name='PROPERTY[][0]', placeholder='Иванов',autocomplete='family-name')
                            .b-filter__block
                              label.label(for="firstName0") Имя*
                              input#firstName0.input.req(type='text', name='PROPERTY[][0]', placeholder='Иван',autocomplete='given-name')
                            .b-filter__block
                              label.label(for="middleName") Отчество*
                              input#middleName.input.req(type='text', name='PROPERTY[][0]', placeholder='Иванович',autocomplete='additional-name')              
                          .b-filter__hr
                          .b-filter__row
                            .b-filter__block.b-filter__block_fifty
                              label.label(for="phone0") Телефон*
                              input#phone0.input.req(type='text', name='PROPERTY[][0]', placeholder='+375295750215',autocomplete='tel')                      
                            .b-filter__block.b-filter__block_fifty
                              label.label(for="email0") E-mail (логин)*
                              input#email0.input.req.email(type='email', name='PROPERTY[][0]', placeholder='romateo@list.ru',autocomplete='email')

                          .b-filter__row
                            .b-filter__block.b-filter__block_fifty
                              label.label(for="сountry0") Страна*
                              select.select.req#сountry0
                                option(selected) Беларусь
                                option Россия

                            .b-filter__block.b-filter__block_fifty
                              label.label(for="postal0") Индекс   
                              input.input#postal0(type='text', name='PROPERTY[][0]', placeholder='230150', autocomplete="shipping postal-code")

                          .b-filter__row
                            .b-filter__block.b-filter__block_fifty
                              label.label(for="address0") Адрес   
                              input.input#address0(type='text', name='PROPERTY[][0]', placeholder='г. Минск, ул. Матусевича 20-120', autocomplete="shipping street-address")
                            .b-filter__block.b-filter__block_fifty
                              label.label(for="sex0") Пол
                              select#sex0.select
                                option(selected) Мужской
                                option Женский
                          .b-filter__hr
                          .b-filter__row.b-filter__row_file
                            .b-filter__block.b-filter__block_fifty
                              label.label(for="file0") Загрузить справку о состоянии здоровья 
                              input#file0(type='file', name='PROPERTY[][0]', placeholder='', autocomplete="no")                    
                          .b-filter__name  Паспортные данные
                          .b-filter__row
                            .b-filter__block.b-filter__block_fifty
                              .b-filter__series
                                label.label(for="series0") Серия*   
                                input.input.req#series0(type='text', name='PROPERTY[][0]', placeholder='МР', autocomplete="")
                              .b-filter__number
                                label.label(for="number0") Номер*   
                                input.input.req#number0(type='text', name='PROPERTY[][0]', placeholder='1595973', autocomplete="")  
                            .b-filter__block.b-filter__block_fifty
                              label.label(for="get0") Кем/когда выдан*   
                              input.input.req#get0(type='text', name='PROPERTY[][0]', placeholder='Фрунзенское РУВД г.Минска, 05.12.2006', autocomplete="")
                          .b-filter__row
                            .b-filter__block.b-filter__block_fifty
                              label.label(for="personal0") Личный номер*
                              input.input.req#personal0(type='text', name='PROPERTY[][0]', placeholder='1EKK5458725154F', autocomplete="")

                          .b-filter__name  Пароль
                          .b-filter__row
                            .b-filter__block.b-filter__block_fifty
                              label.label(for="passNew0") Введите новый пароль
                              input#passNew0.input(type='password', name='PROPERTY[][0]', placeholder='',autocomplete='no')                      
                            .b-filter__block.b-filter__block_fifty
                              label.label(for="passAgain0") Повторите пароль
                              input#passAgain0.input.email(type='password', name='PROPERTY[][0]', placeholder='',autocomplete='no')
                          .b-filter__hr-last
                      .b-filter__btn
                        input.btn.btn_green(type="submit", value="Сохранить изменения")

    +feedback()
  +footer('int')