extends template
block content

  +header()

  main
    .banner.banner_resort
      .banner__img(style="background-image: url(images/resort-banner.jpg)")
      .banner__title Навигация по верстке

    section
      .container      
        .text__block.clearfix
          ul
            li
              a(href='main.html', target='_blank') ссылка
              |  - Главная
            li
              a(href='resort.html', target='_blank') ссылка
              |  - Санаторий      
            li
              a(href='med.html', target='_blank') ссылка
              |  - Медицинский профиль   
            li
              a(href='rooms.html', target='_blank') ссылка
              |  - Номера и цены   
            li
              a(href='apartment.html', target='_blank') ссылка
              |  - Номер
            li
              a(href='leisure.html', target='_blank') ссылка
              |  - Досуг
            li
              a(href='media.html', target='_blank') ссылка
              |  - Медиа              
            li
              a(href='structure.html', target='_blank') ссылка
              |  - Инфраструктура              
            li
              a(href='contacts.html', target='_blank') ссылка
              |  - Контакты санатория    
            li
              a(href='hot.html', target='_blank') ссылка
              |  - горячие туры     
            li
              a(href='meal.html', target='_blank') ссылка
              |  - Диетическое питание  
            li
              a(href='selection.html', target='_blank') ссылка
              |  - Подбор путевки  
            li
              a(href='search.html', target='_blank') ссылка
              |  - Результат поиска  
            li
              a(href='nosearch.html', target='_blank') ссылка
              |  - Не найдено ни одной путевки
            li
              a(href='error.html', target='_blank') ссылка
              |  - 404
            li
              a(href='basket.html', target='_blank') ссылка
              |  - Корзина
            li
              a(href='checkout.html', target='_blank') ссылка
              |  - Оформление заказа
            li
              a(href='payment.html', target='_blank') ссылка
              |  - Способ оплаты
            li
              a(href='book.html', target='_blank') ссылка
              |  - Благодарим Вас за бронирование!
            li
              a(href='orders.html', target='_blank') ссылка
              |  - Мои заказы
            li
              a(href='data.html', target='_blank') ссылка
              |  - Личные Данные              
            li
              a(href='finished.html', target='_blank') ссылка
              |  - Завершенные заказы           
            li
              a(href='subscribe.html', target='_blank') ссылка
              |  - Подписка на Рассылку 
            li
              a(href='news.html', target='_blank') ссылка
              |  - Новости 
            li
              a(href='new.html', target='_blank') ссылка
              |  - Новость
            li
              a(href='contact-all.html', target='_blank') ссылка
              |  - Контакты
            li
              a(href='search-all.html', target='_blank') ссылка
              |  - Поиск


  +feedback()
  +footer('int')              