extends template
block content

  +header("resort","no")

  main
    .banner.banner_int
      .banner__img(style="background-image: url(images/resort-banner.jpg)")
      .banner__title Случь
      .banner__filter 
        span Подобрать путевку

    .container
      +breadcrumb('Досуг')
      h1.page__title Досуг

    +filter('internal')
    
    section.navigation
      .container
          .overlay.navigation__overlay
          .navigation__btn Досуг
          ul.navigation__menu
            li.navigation__item
              a(href="").navigation__link Медицинский <br>профиль
            li.navigation__item
              a(href="").navigation__link Номера и <br>цены
            li.navigation__item.active
              .navigation__link Досуг
            li.navigation__item
              a(href="").navigation__link Медиа
            li.navigation__item
              a(href="").navigation__link Инфрастуктура
            li.navigation__item
              a(href="").navigation__link Контакты
            li.navigation__item.navigation__item_hot
              a(href="").navigation__link Горящие <br>туры
            li.navigation__item
              a(href="").navigation__link Диетическое <br>питание
    
    section.leisure-info
      .container
        .leisure-info__wrap
          .b-text
            p В санатории созданы необходимые условия для обеспечения непрерывного учебно-воспитательного процесса во время пребывания учащихся в санатории в учебное время: 13 оборудованных учебных кабинетов, оснащенных техническими средствами, наглядными пособиями, дидактическими материалами, методической литературой, необходимыми учебниками.  
        .carousel__wrap
          - for (var i = 1; i < 5; i++) 
            a(href="images/carousel-leisure-0"+i+".jpg").carousel__item.fancybox
              img(src="images/carousel-leisure-0"+i+".jpg", alt="")
          - for (var i = 1; i < 5; i++) 
            a(href="images/carousel-leisure-0"+i+".jpg").carousel__item.fancybox
              img(src="images/carousel-leisure-0"+i+".jpg", alt="")

       

    section.leisure-events
      .container
        .leisure-events__title Самые яркие события в санатории:
        .leisure-events__wrap 
          .accordion
            -var listNature = ['Соревнования по футболу', 'КВН в санатории Случь', 'Летний праздник', 'День рисунка']
            each item, index in listNature
              - var opened = (index === 3 ? 'opened' : '')
              - var display = (index === 3 ? 'display:block' : '')
              .item(class=opened)
                .item__title=item
                .item__info(style=display)
                  .item__close
                    span Закрыть  
                  .b-text                 
                    p Человек часть природы это факт. В остальном сначало надо понять что такое польза природе. Вообще то все определения в результате сводятся к пользе человека. В принципе это не плохо. Ведь человек часть природы и если плохо человеку то достаточно велика вероятность что ничего хорошего и природе (и наоборот) Но в глобальном смысле человек оказывается настолько мелочью по сравнению с природой (Вселенной) что ей человек и все его деяния просто пофигу как и вся Земля в целом.  
                    p
                      img(src="images/leisure-img.jpg", alt="", align="left")
                      | Человек часть природы это факт. В остальном сначало надо понять что такое польза природе. Вообще то все определения в результате сводятся к пользе человека. В принципе это не плохо. Ведь человек часть природы и если плохо человеку то достаточно велика вероятность что ничего хорошего и природе (и наоборот) Но в глобальном смысле человек оказывается настолько мелочью по сравнению с природой (Вселенной) что ей человек и все его деяния просто пофигу как и вся Земля в целом. Человек часть природы это факт. В остальном сначало надо понять что такое польза природе. Вообще то все определения в результате сводятся к пользе человека. В принципе это не плохо. Ведь человек часть природы и если плохо человеку то достаточно велика вероятность что ничего хорошего и природе (и наоборот) Но в глобальном смысле человек оказывается настолько мелочью по сравнению с природой (Вселенной) что ей человек и все Человек часть природы это факт. В остальном сначало надо понять что такое польза природе. Вообще то все определения в результате сводятся к пользе человека. В принципе это не плохо. Ведь человек часть природы и если плохо человеку то достаточно велика вероятность что ничего хорошего и природе (и наоборот) Но в глобальном смысле человек оказывается настолько мелочью по сравнению с природой (Вселенной) что ей человек и все его деяния просто пофигу как и вся Земля в целом. Человек часть природы это факт. В остальном сначало надо понять что такое польза природе. Вообще то все определения в результате сводятся к пользе человека. В принципе это не плохо. Ведь человек часть природы и если плохо человеку то достаточно велика вероятность что ничего хорошего и природе (и наоборот) Но в глобальном смысле человек оказывается настолько мелочью по сравнению с природой (Вселенной) что ей человек и все 

    +feedback()
  +footer('int')