mixin feedback(o)
  section.feedback
    .container
      .feedback__wrap
         a(href="#feedback").feedback__link.js-feedback
            span Обратная связь
          .feedback__btn
            a(href="").btn.btn_invert Забронировать

        