mixin feedback(o)
  section.feedback
    .container
      .feedback__wrap
         a(href="").feedback__link
            span Обратная связь
          .feedback__btn
            a(href="").btn.btn_invert Забронировать

        