mixin head(o)
  head
    meta(charset="utf-8")
    meta(name='viewport', content='initial-scale=1.0,  width=device-width')
    meta(name='format-detection', content='telephone=no')
    link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')
    title Zdravnica
    link(rel="stylesheet" href="css/style.css")
    <!--[if lt IE 9]>
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js')  
    <![endif]-->
